# ----------------------------------------------------------------------
# Adds some security for the Apache server configuration for use with
# yii2-app-practical template.
# @author Kartik Visweswaran <kartikv2@gmail.com>
# @see http://demos.krajee.com/app-practical
# ----------------------------------------------------------------------
RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php